<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="g1.aplicaciones.com.nutribio" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Logo"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Menu"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="g1.aplicaciones.com.nutribio.Menu" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Consejos"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="g1.aplicaciones.com.nutribio.Consejos" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Informacion"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="g1.aplicaciones.com.nutribio.Informacion" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".crear.Crear"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="g1.aplicaciones.com.nutribio.crear.Crear" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".historial.Consumo"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="g1.aplicaciones.com.nutribio.historial.Consumo" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".historial.Peso"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="g1.aplicaciones.com.nutribio.historial.Peso" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".historial.Productos"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="g1.aplicaciones.com.nutribio.historial.Productos" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>
